{{ define "main" }}
  <section id="about">
  {{ if isset .Site.Params "description" }}
    {{ .Site.Params.description }}
  {{ end }}
  {{ if isset .Site.Params "social" }}
      <p>Find me on
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
      {{ if eq $elem.name "email" }}
        <a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}">
          <i class="fas fa-envelope"></i>
        </a>
        {{ else if eq $elem.name "rss" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
          <i class="fas fa-rss"></i>
        </a>
        {{ else if eq $elem.name "scholar" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
          <i class="fas fa-graduation-cap"></i>
        </a>
        {{ else }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
          <i class="fab fa-{{ lower $elem.name }}"></i>
        </a>
        {{ end }}
        {{ if (lt (add $index 2) $length) }}
          {{- print " , " -}}
        {{ else if (lt (add $index 1) $length) }}
          {{- print " and " -}}
        {{ else }}
          {{- print "." -}}
        {{ end }}
      {{ end }}
      </p>
  {{ end }}
  </section>
  <section id="search">
    <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
      <label for="Search all articles">
      <input name="sitesearch" type="hidden" value="nicolevanderhoeven.com">
      <input autocomplete="on" class="form-control search" name="q" placeholder="Search all articles" type="text" size="30"> <button type="submit">Go</button>
      </label>
    </form> <br />
  </section>
  <section id="course">
    <div id="course-embed">
      Buy my beginner course on Obsidian: <a href="https://courses.nicolevanderhoeven.com/o4e">Obsidian for Everyone</a>.<br><br>
    </div>
  </section>
  <section id="subscribe">
    <div id="email-embed">
      <div class="email-form-group">
        <label for="member_email">Sign up for my newsletter: </label>
        <form action="https://courses.nicolevanderhoeven.com/email_lists/443865/subscriptions" accept-charset="UTF-8" method="post">
          <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" required="required" placeholder="Email" />
        <input type="submit" value="Join" />
      </form>
      </div>
      <div class="email-form-footer"><i>(I send only important updates once every few months because I hate a cluttered inbox!</i></div>
      </form>
    </div>
  </section>
  <section id="videos">
    <span class="h1"><a href="https://www.youtube.com/channel/UCrmQZ9HHnJ2qpd6udc8iYYw">Last Video</a></span>
    <span class="body">
      <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
        <iframe src="https://www.youtube.com/embed/zoeQ5yNoXsY" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="The last video I published"></iframe>
      </div>
    </span>
  </section>
  <section id="writing">
    <span class="h1"><a href="{{ .Site.Params.mainSection | absURL }}">My Content</a></span>
    <span class="body">Things I've created in various formats, here and elsewhere on the web.</span>
    {{ if (and (and (isset .Site.Params "tagsoverview") (eq .Site.Params.tagsOverview true)) (gt (len .Site.Taxonomies.tags) 0)) }}
    <span class="h2">Tags</span>
    <span class="widget tagcloud">
      {{ $AllRegularPagesCount := len .Site.RegularPages }}
      {{ range $elem := .Site.Taxonomies.tags.Alphabetical }}
      <a style="font-size: {{ (add 0.5 (mul 2 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;" href="{{ $elem.Page.Permalink }}">
        {{- .Page.Title -}}
      </a>
      {{ end }}
    </span>
    <span class="h2">Most recent</span>
    {{ end }}

    {{ $showAllPostsOnHomePage := false }}
    {{ if (isset .Site.Params "showallpostsonhomepage") }}
      {{ $showAllPostsOnHomePage = .Site.Params.ShowAllPostsOnHomePage }}
    {{ end }}
    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    {{ $mainPosts := (sort ( where site.RegularPages "Type" "in" site.Params.mainSections ) "Date" "desc") }}
    {{ if $showAllPostsOnHomePage }}
    <ul class="post-list">
      {{ range (.Paginate $mainPosts).Pages }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}

    {{ else }}
    <ul class="post-list">
      {{ .Scratch.Set "count" 5 }}
      {{ if isset .Site.Params "postsonhomepage" }}
        {{ .Scratch.Set "count" .Site.Params.postsOnHomePage }}
      {{ end }}
      {{ range (first (.Scratch.Get "count") $mainPosts) }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </section>

  {{ $showProjectsList := false }}
  {{ if .Site.Data.projects }}
    {{ $showProjectsList = true }}
  {{ else if (isset .Site.Params "showProjectsList") }}
    {{ $showProjectsList = .Site.Params.ShowProjectsList }}
  {{ end }}
  {{ if $showProjectsList }}
    {{ $projectsUrl := "#" }}
    {{ if isset .Site.Params "projectsUrl" }}
      {{ $projectsUrl = .Site.Params.projectsUrl }}
    {{ end }}
  <section id="projects">
    <span class="h1"><a href="{{ $projectsUrl }}">Projects</a></span>
    <ul class="project-list">
        {{ range .Site.Data.projects.list }}
        <li class="project-item">
          <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
        </li>
        {{ end }}
    </ul>
  </section>
  {{ end }}
{{ end }}
